* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
}

.card-container {
  margin-bottom: 20px;
  flex-wrap: wrap;
  perspective: 1000px;
  display: none;
}

.card-container_active {
  display: flex;
}

.card {
  position: relative;
  margin-bottom: 10px;
  width: 24%;
  height: 400px;
  background-image: url(https://cdn.pixabay.com/photo/2012/05/07/18/52/card-game-48980_960_720.png);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform 0.3s linear;
}

.card:not(:nth-child(4n)) {
  margin-right: 10px;
}

.card__face {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  left: 0;
  bottom: 0;
  font-size: 72px;
  font-weight: 700;
  background-color: white;
  border-radius: 10%;
  border: 10px solid lightblue;
  opacity: 0;
  transition: opacity 0.3s linear;
}

.card__face_active {
  opacity: 1;
}

.card_turned {
  transform: rotateY(360deg);
}

.button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button {
  padding: 17px 35px;
  font-size: 24px;
  background-color: lightseagreen;
  color: white;
  cursor: pointer;
  transform: translateX(-25px);
  opacity: 0;
  transition: opacity 0.3s linear;
}

.button_active {
  opacity: 1;
}

.start {
  width: 100%;
  margin-top: 500px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start_hidden {
  display: none;
}

.start__button {
  padding: 17px 35px;
  font-size: 24px;
  background-color: lightseagreen;
  color: white;
  cursor: pointer;
}

.start__input {
  padding: 17px 35px;
  margin-right: 10px;
  font-size: 24px;
}

.timer-container {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  opacity: 0;
}

.timer_active {
  opacity: 1;
}
